
.section--make-fetch h1 {
    font-size: 2.5rem;
    text-align: center;
    color:#1890F9;
    margin: 3%;
}
.text-center {
    text-align: center;
    color: #fff;
}

.text-center {
    text-align: center;
}
h1, h2, h3, h4 ,h5 {
    
    font-weight: 400;
}
.class-img {
    border-radius: 8px;
    width:70%;
    height:40%;
    margin-bottom: 5%;
    margin-top: 5%;
   
}
.text-class {
    margin-bottom: 5%;
    margin-top: 5%;
}
.section-row {
    background-color: rgb(223, 222, 222);

}