.steps-content {
  margin-top: 16px;
  border: 1px solid;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}
  
.steps-action {
  border: 0px solid;
  margin-top: 24px;
}

.job-calendar > .ant-fullcalendar-header > .ant-radio-group{
  display: none;
}
