.container-pop-regis {
  width: 100%;
}

.regis-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.regis-phone {
  width: 100% !important;
}

.input-reg > .ant-input {
  background-color: #fcfcfc;
}
.anticon-eye-invisible {
  width: 3em;
}
